{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="shadow mt-5">
        <div class="card-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {# {% if app.user %}
                    <div class="mb-3 text-white mt-4">
                        Vous êtes connecté en tant que {{ app.user.firstName }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %} #}

                <h1 class="h3 mb-3 font-weight-normal text-white mt-4">Connexion</h1>
                <label for="inputEmail" class="text-white mt-4 mb-2">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword" class="text-white mt-4 mb-2">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-lg btn-primary mt-4 mb-2" type="submit">Se connecter</button>
                <p class="text-white">Pas encore de compte ? <a class="btn btn-lg btn-link text-primary" href="{{ path('app_register') }}">S'enregistrer</a></p>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
