{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="shadow mt-4">
            <div class="card-body">
                <h1 class="text-white">Inscription</h1>
                {{ form_start(registrationForm) }}
                    <div class="mt-2 mb-2">
                        <label class="form-label text-white">{{ form_label(registrationForm.firstName) }}</label>
                        {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                        <small class="form-error text-danger">
                            {{ form_errors(registrationForm.firstName) }}
                        </small>
                    </div>
                    <div class="mt-2 mb-2">
                        <label class="form-label text-white">{{ form_label(registrationForm.lastName) }}</label>
                        {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                        <small class="form-error text-danger">
                            {{ form_errors(registrationForm.lastName) }}
                        </small>
                    <div class="mt-2 mb-2">
                        <label class="form-label text-white">{{ form_label(registrationForm.email) }}</label>
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        <small class="form-error text-danger">
                            {{ form_errors(registrationForm.email) }}
                        </small>
                    </div>
                    <div class="mt-2 mb-2">
                        <label class="form-label text-white">Mot de passe</label>
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        <small class="form-error text-danger">
                            {{ form_errors(registrationForm.plainPassword) }}
                        </small>
                    </div>

                    <button class="btn btn-lg btn-primary mt-2 mb-2" type="submit">S'inscrire</button>
                {{ form_end(registrationForm) }}
                <p class="text-white">Vous avez déjà un compte ? <a class="btn btn-lg btn-link text-primary" href="{{ path('app_login') }}">Se connecter</a></p>
            </div>
        </div>
    </div>
{% endblock %}
