{% extends 'base.html.twig' %}

{% block title %}Coming Soon{% endblock %}

{% block body %}
<style>
    
</style>

<div class="container h-100">
<h1 class="text-white">Coming soon...</h1>
    <img src="https://www.disneyplusinformer.com/wp-content/uploads/2021/12/69D5DD68-0277-4A69-B3F7-50B6287B9E1A.jpg" width="100%" alt="Picture of coming soon">
</div>
{% endblock %}
