.custom-body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #22262A;
}

/*.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/

a:link,
a:visited {
    color: #ED462F;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
}

.custom-effect:hover,
.custom-effect:active {
    color: white;
    background-color: #ED462F;
    box-shadow: 0 1rem 2rem rgba(black, .4);
    transform: rotate(2deg) scale(1.0);
    padding: 2px;
}

.img-picture:hover,
.img-picture:active {
    color: white;
    background-color: #ED462F;
    box-shadow: 0 1rem 2rem rgba(black, .4);
    transform: rotate(5deg) scale(1.2);
    padding: 2px;
}

.card {
    border: none;
    border-radius: 2px;
}

.i-favorite {
    cursor: pointer;
    padding: 10px 12px 8px;
    background: #d3d3d350;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 15px;
    color: #aaa;
    transition: .2s;
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.2);
}

.i-favorite:hover {
    color: #666;
}

.i-favorite:before {
    font-family: fontawesome;
    content: '\f004';
    font-style: normal;
}

.span-favorite {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    visibility: hidden;
    transition: .6s;
    z-index: -2;
    font-size: 2px;
    color: transparent;
    font-weight: 400;
}

.i-favorite.press {
    animation: size .4s;
    color: #e23b3b;
}

.span-favorite.press {
    bottom: 120px;
    font-size: 14px;
    visibility: visible;
    animation: fade 1s;
}