<div class="col">
    <div class="card h-100">
        <img src="{{ personnage.thumbnail.path  ~ '.' ~ personnage.thumbnail.extension }}" href="{{ path('personnage_show', {'id': personnage.id}) }}" class="img-picture card-img-top" alt="Picture of {{ personnage.name }}">
        <div class="card-body">
            <a href="{{ path('personnage_show', {'id': personnage.id}) }}" class="btn btn-link custom-effect"><h5 class="card-title">{{ personnage.name }}</h5></a>
            <div    
                data-id="{{personnage.id}}"
                data-name="{{personnage.name}}"
                data-description="{{personnage.description}}"
                data-image="{{ personnage.thumbnail.path  ~ '.' ~ personnage.thumbnail.extension }}"
                data-comics="{{personnage.comics.available}}"
                data-series="{{personnage.series.available}}"
                data-stories="{{personnage.stories.available}}"
                data-events="{{personnage.events.available}}">
                    <i class="js-favorite i-favorite"></i>
                    <span class="span-favorite"></span>
            </div>
            <p class="card-text">
                {% if personnage.description != '' %}
                    {{ personnage.description }}
                {% else %}
                    Aucune description 😔 🤷‍♂️
                {% endif %}
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Data provided by Marvel. © 2022 MARVEL</small>
        </div>
    </div>
</div>
