{% extends 'base.html.twig' %}

{% block title %}Personnages favoris{% endblock %}

{% block body %}
    <div class="container js-filter">
        <h1 class="text-white mt-4 mb-4">Vos personnages favoris</h1>
        {# Affichage de la liste des personnages favoris #}
        <div class="row row-cols-1 row-cols-md-3 g-4" id="js-favorites-content">
            
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('js/favorites') }}
	{# <script src="{{ asset('build/js/personnages.js') }}"></script> #}
{% endblock %}
