{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}
    <div class="container js-filter">
        <h1 class="text-white mt-4">Personnages</h1>
        {# Affichage de la liste des personnages #}
        <div class="row row-cols-1 row-cols-md-3 g-4" id="js-filter-content">
            {% for personnage in personnages %}
                {% include 'personnage/_card.html.twig' with {personnage: personnage} only %}
            {% endfor %}
        </div>
        {# Affichage de la pagination #}
        <div class="pagination justify-content-center mt-4 js-pagination">
            {{ knp_pagination_render(personnages, 'pagination/pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('js/personnages') }}
	{# <script src="{{ asset('build/js/personnages.js') }}"></script> #}
{% endblock %}
