{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}
<style>
 
</style>

{% set attributionText = personnage.attributionText %}
{% set personnage = personnage.data.results.0 %}

<div class="container">
<h1 class="text-white">Détails du personnage</h1>
    <div class="card flex-md-row mb-3 box-shadow" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4 h-100">
                <img src="{{ personnage.thumbnail.path  ~ '.' ~ personnage.thumbnail.extension }}" class="img-picture card-img-right flex-auto d-md-block img-fluid h-100" alt="Picture of {{ personnage.name }}">
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="card-title mb-0 text-dark">{{ personnage.name }}</h3>
                    <p class="text-sm-start card-text mb-2">
                        {% if personnage.description != '' %}
                            {{ personnage.description }}
                        {% else %}
                            Aucune description 🤷‍♂️
                        {% endif %}
                    </p>
                    <p class="text-muted mb-2">
                        Comics : {{ personnage.comics.available }} |
                        Series :  {{ personnage.series.available }} | 
                        Stories : {{ personnage.stories.available }} | 
                        Events : {{ personnage.events.available }}
                    </p>
                    <p class="text-muted mb-2">
                        <h5><em>Titres des 3 premiers comics</em></h5>
                        <ul>
                            {% for comic in personnage.comics.items |slice(0, 3)%}
                                <li class="text-sm-start"><a class="custom-effect" href="{{ path('coming_soon') }}">{{ comic.name }}</a></li>
                            {% else %}
                                <p class="text-sm-start"><em>Pas de comics </em>😔</p>
                            {% endfor %}
                        </ul>
                    </p>
                    <p><small class="text-muted">{{ attributionText }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
