<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!-- Responsive meta tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Peaks Your Marvel | 
            {% block title %}Personnages{% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🥷</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="custom-body">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow">
			<div class="container-fluid">
				<a class="navbar-brand custom-effect" href="{{ path('personnage')}}">🥷 Peak's Up Marvel !</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link custom-effect" aria-current="page" href="{{ path('personnage')}}">Personnages</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link custom-effect" aria-current="page" href="{{ path('personnage_favorites')}}">Personnages favoris</a>
						</li>
						<li class="nav-item">
							<a class="nav-link custom-effect" href="{{ path('coming_soon')}}">Comics</a>
						</li>
						<li class="nav-item">
							<a class="nav-link custom-effect" href="{{ path('coming_soon')}}">Series</a>
						</li>
						<li class="nav-item">
							<a class="nav-link custom-effect" href="{{ path('coming_soon')}}">Events</a>
						</li>
						<li class="nav-item">
							<a class="nav-link custom-effect" href="{{ path('coming_soon')}}">Stories</a>
						</li>
					</ul>
                    {# <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
                        <button class="btn btn-outline-danger" type="submit">Valider</button>
                    </form> #}
                    {% if app.user %}
                        <div class="d-flex text-white nav-link">
                            Bonjour {{ app.user.firstName | upper }}, &nbsp;&nbsp;<a href="{{ path('app_logout') }}">Déconnexion🚪</a>
                        </div>
                    {% endif %}
				</div>
			</div>
		</nav>

        <main class="container">
            <div class="text-center py-5 px-3">
                {% block body %}{% endblock %}
            </div>
        </main>

        {% block javascripts %}
            <!-- Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
